# vi: ft=yaml

githubConfigSecret:
  github_token: {{ github_token | quote }}
githubConfigUrl: {{ github_config_url | quote }}

minRunners: 0
maxRunners: {{ max_runners }}

runnerScaleSetName: {{ runner_scale_set_name | quote }}
runnerGroup: {{ runner_group | quote }}

listenerTemplate:
  spec:
    containers:
      - name: listener
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"

template:
  spec:
    containers:
      - name: runner
        image: {{ runner_image }}
        command: ["/home/runner/run.sh"]
        env:
          - name: JOBS
            value: "{{ runner_jobs }}"
        resources:
          requests:
            # CPU is intentionally overcommitted!!
            # Reqests guarantee that scheduler will give each pod its share under 100% load,
            # and it doesn't make sense to limit the CPU while we're at idle.
            cpu: "1000m"
            memory: "2Gi"
            ephemeral-storage: "4Gi"
          limits:
            memory: "2Gi"
            ephemeral-storage: "4Gi"
        securityContext:
          allowPrivilegeEscalation: false
