# vi: ft=yaml

githubConfigSecret:
  github_token: {{ github_token | string | to_json }}
githubConfigUrl: {{ github_config_url | string | to_json }}

minRunners: 0
maxRunners: {{ max_runners }}

runnerScaleSetName: {{ runner_scale_set_name | string | to_json }}
runnerGroup: {{ inventory_hostname | string | to_json }}

listenerTemplate:
  metadata:
    annotations:
      k8s.grafana.com/scrape: "true"
      k8s.grafana.com/metrics.portNumber: "8080"
      k8s.grafana.com/job: "arc-listener"
  spec:
    containers:
      - name: listener
        resources:
          requests:
            cpu: "50m"
            memory: "128Mi"

# Remove per-repo/per-job labels
listenerMetrics:
  counters:
    gha_started_jobs_total:
      labels: ["event_name"]
    gha_completed_jobs_total:
      labels: ["event_name", "job_result"]
  gauges:
    gha_assigned_jobs:
      labels: ["name", "namespace"]
    gha_running_jobs:
      labels: ["name", "namespace"]
    gha_registered_runners:
      labels: ["name", "namespace"]
    gha_busy_runners:
      labels: ["name", "namespace"]
    gha_idle_runners:
      labels: ["name", "namespace"]
    gha_desired_runners:
      labels: ["name", "namespace"]
    gha_max_runners:
      labels: ["name", "namespace"]
  histograms:
    gha_job_startup_duration_seconds:
      labels: ["event_name"]
      buckets: [1, 2, 3, 5, 10, 20, 30, 60, 120, 300, 600]
    gha_job_execution_duration_seconds:
      labels: ["event_name"]
      buckets: [10, 30, 60, 120, 300, 600, 1200, 1800, 3600]

template:
  spec:
    containers:
      - name: runner
        image: {{ runner_image }}
        command: ["/home/runner/run.sh"]
        env:
          - name: JOBS
            value: "{{ runner_jobs }}"
        resources:
          requests:
            # CPU is intentionally overcommitted!!
            # Reqests guarantee that scheduler will give each pod its share under 100% load,
            # and it doesn't make sense to limit the CPU while we're at idle.
            cpu: "1000m"
            memory: "2Gi"
            ephemeral-storage: "4Gi"
          limits:
            memory: "2Gi"
            ephemeral-storage: "4Gi"
        securityContext:
          allowPrivilegeEscalation: false
